<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<header>
  <% include ../helpers/navbar %>
</header>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>Web App Workshop 9/15/2018</h1>
  </div>

  <p id="demo">
    Phase 2 of the Presentation Complete
  </p>

  <button class="btn btn-default" type="button" onclick="myFunction()">
    It's Doge
  </button>

  <div id="doge-image"/>

</body>

</html>